@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* background-color: rgb(238, 238, 238); */
}


.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar {

  scrollbar-width: none;
}